.comment {
  display: flex;
  gap: 1rem;
}

.comment + .comment {
  margin-top: 1.5rem;
}

.comment > img {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.wrapper {
  flex: 1;
}

.wrapper footer button {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  background: transparent;
  color: var(--gray-400);
  border: none;
  cursor: pointer;

  transition: .1s;
}

.wrapper footer button:hover {
  color: var(--green-300);
}

.wrapper footer svg {
  margin-right: .75rem;
}

.wrapper footer span::before {
  padding: 0 .25rem;
  content: "\2022";
}

.content {
  width: 100%;
  background: var(--gray-700);
  padding: 1rem 1rem 1.5rem;
  border-radius: 8px;
}

.content header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content > p {
  font-size: 0.875rem;
}

.author {
  display: flex;
  flex-direction: column;
}

.author span {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.6;
}

.author time {
  font-size: 0.75rem;
  font-weight: lighter;
  line-height: 1.6;
  color: var(--gray-400);
}

.content button {
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--gray-400);

  transition: 0.1s;
}

.content button:focus {
  outline: none;
  box-shadow: none;
}

.content button:hover {
  color: var(--green-300);
}

.content > p {
  margin-top: 1rem;
}